.navbarThemeToggle {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: rem(12px);
  height: rem(48px);
  padding: 0 rem(56px);
  margin: 0 rem(12px);
  border-radius: rem(8px);
  background-color: light-dark(#F4F7FD, #20212C);
  }

  .themeToggleSwitch {
    color: var(--primary-color);
    
    &:hover {
      cursor: pointer;
  }

  .themeToggleTrack {
    background-color: var(--primary-color);
    border: var(--primary-color);
  }
}