.layoutNav {
  background-color: light-dark(#FFF, #2B2C37);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: rem(32px) 0;
  height: 100%;
  border: 1px solid light-dark(#FFF, #2B2C37);

  .navbarTop {
    display: flex;
    flex-direction: column;
    gap: rem(12px);
  }

  .navbarHeaderText {
    font-size: rem(12px);
    font-weight: bold;
    letter-spacing: rem(2.4px);
    color: var(--primary-color);
    margin-left: rem(24px);
  }

  .navbarBoardsTabs {
    height: rem(48px);
    display: flex;
    align-items: center;
    gap: rem(12px);
    padding-left: rem(24px);
    margin-right: rem(20px);

    &:hover {
      cursor: pointer;
    }
  }

  .icon {
    filter: brightness(0.70);
  }

  .selected {
    color: #FFF;
    font-weight: bold;
    background-color: var(--primary-color);
    border-radius: 0 rem(24px) rem(24px) 0;

    .icon {
      filter: brightness(1);
    }
  }

  .navbarCreateBoard {
    display: flex;
    align-items: center;
    gap: rem(12px);
    padding-left: rem(24px);

    &:hover {
      cursor: pointer;
    }
  }

  .navbarCreateBoardText {
    color: var(--primary-color);
    font-weight: bold;
  }

  .navbarBottom{
    display: flex;
    flex-direction: column;
    gap: rem(16px);
  }

  .hideSidebar {
    display: flex;
    align-items: center;
    gap: rem(10px);
    height: rem(48px);
    margin-left: rem(24px);
  }

  .hideSidebarText {
    color: #828FA3;
    font-weight: bold;
  }
}