.layoutNav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: rem(32px) 0;
  height: 100%;

  .navbarTop {
    display: flex;
    flex-direction: column;
    gap: rem(12px);
  }

  .navbarHeaderText {
    font-size: rem(12px);
    font-weight: bold;
    letter-spacing: rem(2.4px);
    color: #635FC7;
    margin-left: rem(24px);
  }

  .navbarBoardsTabs {
    height: rem(48px);
    display: flex;
    align-items: center;
    gap: rem(12px);
    padding-left: rem(24px);
    margin-right: rem(20px);

    &:hover {
      cursor: pointer;
    }
  }

  .selected {
    color: #FFF;
    font-weight: bold;
    background-color: #635FC7;
    border-radius: 0 rem(24px) rem(24px) 0;

    &.iconPath {
      color: #FFF !important;
      background-color: #fff !important;
    }
  }

  .navbarCreateBoard {
    display: flex;
    align-items: center;
    gap: rem(12px);
    padding-left: rem(24px);

    &:hover {
      cursor: pointer;
    }
  }

  .navbarCreateBoardText {
    color: #635FC7;
    font-weight: bold;
  }

  .navbarBottom{
    display: flex;
    flex-direction: column;
    gap: rem(16px);
  }

  .hideSidebar {
    display: flex;
    align-items: center;
    gap: rem(10px);
    height: rem(48px);
    margin-left: rem(24px);
  }

  .hideSidebarText {
    color: #828FA3;
    font-weight: bold;
  }
}