.boardContainer {
  min-height: 92vh;
}

.segmentedControllContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: rem(24px) 0;
}

.boardGrid {
  display: flex;
  flex-direction: column;
  gap: rem(28px);
  flex-wrap: wrap;
  padding: rem(20px) 0;
  scrollbar-width: none;
}

@media (min-width: 768px) {
  .boardGrid{
    flex-direction: row;
    padding: 0 rem(16px);
    overflow-x: scroll;
    flex-wrap: nowrap;
  }
}

