.layoutHeader {
  background-color: light-dark(#FFF, #2B2C37);
  height: rem(62px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 rem(16px);

  .layoutHeaderLeft {
    display: flex;
    align-items: center;
    gap: rem(16px);
  }

  .headerLogoText {
    display: none;
  }
  
  .headerTitleContainer {
    display: flex;
    align-items: center;
    gap: rem(8px);
    &:hover {
      cursor: pointer;
    }
  }

  .headerText {
    font-size: rem(18px);
    font-weight: bold;
    color: light-dark(#000112, #FFF);
  }
  
  .layoutHeaderRight {
    display: flex;
    align-items: center;
    gap: rem(16px);
  }

  .headerButton {
    height: rem(32px);
    width: rem(48px);
    border-radius: rem(24px);
  }

  .headerButtonText {
    font-size: rem(18px);
    font-weight: bold;
  }

  .headerButtonTextDesktop {
    display: none;
  }
  
  .headerElipses:hover {
    cursor: pointer;
  }
}

.modalController {
  background-color: light-dark(#FFF, var(--dark-grey-bg));
}

@media (min-width: 768px) {
  .layoutHeader {

    .headerLogoText {
      display: block;
      font-size: rem(30px);
      font-weight: bold;
      color: light-dark(#000112, #FFF);
      margin-right: rem(136px);
    }

    .headerText {
      font-size: rem(24px);
      font-weight: bold;
      color: light-dark(#000112, #FFF);
    }

    .chevronDown {
      display: none;
    }

    .headerButton {
      width: rem(164px);
      height: rem(48px);
    }

    .headerButtonText {
      display: none;
    }
  
    .headerButtonTextDesktop {
      display: block;
      font-weight: bold;
      font-size: rem(15px);
    }
  }
}