.layoutHeader {
  background-color: light-dark(#FFF, #2B2C37);
  height: rem(62px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 rem(16px);

  .layoutHeaderLeft {
    display: flex;
    align-items: center;
    gap: rem(16px);
  }
  
  .headerTitleContainer {
    display: flex;
    align-items: center;
    gap: rem(8px);
    &:hover {
      cursor: pointer;
    }
  }
  
  .layoutHeaderRight {
    display: flex;
    align-items: center;
    gap: rem(16px);
  }

  .headerButton {
    height: rem(32px);
    width: rem(48px);
    border-radius: rem(24px);
  }

  .headerButtonText {
    font-size: rem(18px);
    font-weight: bold;
  }
  
  .headerElipses:hover {
    cursor: pointer;
  }
}