.columnTaskCard {
  max-width: rem(300px);
  background-color: light-dark(#FFF, var(--dark-grey));
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: rem(22px) rem(20px);
  border-radius: rem(24px);
  box-shadow: var(--drop-shadow);

  &:hover {
    cursor: pointer;
  }

  .taskCardTitle {
    color: light-dark(var(--white-text), var(--black-text));
    font-weight: bold;
  }
  
  .taskCardSubtitle {
    color: var(--medium-grey);
    font-weight: semi-bold;
  }
}
